@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Reenie+Beanie&display=swap');

html {
  font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #eceff1;
}

.main-image {
  height: 300px;
  width: 350px;
  transform: scale(1.2);
  z-index: 10;
  margin: 0 130px;
  background: #fff;
  padding: 10px;
}

.img-wrapper {
  position: relative;
}

.title {
  position: absolute;
  left: 100px;
  color: #fff;
}

.secondary-images {
  height: 300px;
  width: 350px;
}

.border {
  background: #fff;
  padding: 10px;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  33% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
